<.header>
  Comments on {@post.title}
  <:actions>
    <.link href={~p"/posts/#{@post}/edit"}>
      <.button>Edit post</.button>
    </.link>
  </:actions>
</.header>

<p>{@post.comment}</p>

<.back navigate={~p"/posts"}>Back to posts</.back>
